<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>
    
    
    <main>
        <%- include('partials/carrusel'); %>
        <section  class="novedades">
            <h5>NOVEDADES</h5>
            <a href="../product/novedades"><h6>VER TODO</h6></a>
        </section>
        <section class="contTarjetas">
            <% productos.filter( product =>{  %>
            <% if (product.categoria == "novedades" && product.vidriera == true) { %>
                <%- include('partials/cards', {product}); %>
            <% } %>   
            <% }); %>
        </section>

        <section class="armaTuPedido">
            <a href="#"><img src="https://tudaycl.files.wordpress.com/2017/07/arma-tu-pedido1.png?w=640" alt=""></a>
        </section>

        <section  class="ofertas">
            <h5>OFERTAS</h5>
            <a href="../product/ofertas"><h6>VER TODO</h6></a>
        </section>
        <section class="contTarjetas">
            <% productos.filter( product =>{  %>
            <% if (product.categoria == "ofertas" && product.vidriera == true) { %>
            <%- include('partials/cards', {product}); %>
            <% } %>   
            <% }); %>
            
        </section>

        
      
          

    </main>


    <%- include('partials/footer'); %>

</body>

</html>